<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day %><br>
    <%= f.date_select :day %>
  </div>
  <div class="field">
    <%= f.label :dinner %><br>
    <%= f.text_field :dinner %>
  </div>
  <div class="field">
    <%= f.label :lesson %><br>
    <%= f.text_field :lesson %>
  </div>
  <div class="field">
    <%= f.label :activity %><br>
    <%= f.text_field :activity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
